%html
  %head
    %meta(charset="utf-8")
    %title CodeDrill

    %meta(name="viewport", content="width=device-width, initial-scale=1.0")
    %meta(name="description", content="")
    %meta(name="author", content="")
    
    %link(href="css/bootstrap.min.css" , rel="stylesheet")
    %link(href="css/bootstrap-responsive.min.css" , rel="stylesheet")
    %link(href="css/style.css", rel="stylesheet")

    

    %script(type="text/javascript", src="js/jquery.min.js")
    %script(type="text/javascript", src="js/bootstrap.min.js")
    %script(type="text/javascript", src="js/scripts.js")

  %body
    .container-fluid
      .row-fluid
        .span12
          %h3 A Framework for Setting and Assessing PRogramming Exercises
        .row-fluid
          .span3
            %div(id="menu")
              %ul(class_="nav nav-list")
                %li(class_="nav-header") 
                  Menu
                %li
                  %a(href="index.html") Read Exercises
                %li
                  %a(href="submit.html") Submit
                %li(class_="active")
                  %a(href="#") Grades
                %li(class_="nav-header")
          .span6
            %div(id="page-content")
              .well
                %table(class_="table")
                  %thead
                    %tr
                      %th #
                      %th Chapter
                      %th Problem Name
                      %th Grade
                      %th(style="width: 36px;")
                  %tbody
                    %tr
                      %td 1
                      %td Variable Assignment
                      %td Addition
                      %td 40%
                    %tr
                      %td 2
                      %td conditionals
                      %td If-Then-Else
                      %td 70%
              .pagination
                %ul
                  %li
                    %a(href="#") Last term
                  %li
                    %a(href="#") 1
                  %li
                    %a(href="#") 2
                  %li
                    %a(href="#") 3
                  %li
                    %a(href="#") 4
                  %li
                    %a(href="#") 5
                  %li 
                    %a(href="#") Next Term
