%html 
  %head
    %title CodeDrill
    %meta
  %body
    #header
      %h1 Heading Test
      %h2 Heading 2
    #content
        .entry
          %h3 HEAding 3
          %p.body This is only for testing. This is the body. In the testign one
    #footer
      %p
        All content copyright © Varun
