<!DOCTYPE html>
{% load staticfiles %}
{% load selectable_tags %}
<html lang="en">
<head>
  {{ header }}
  {% include_ui_theme %}
  {% include_jquery_libs %}
   	<script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>
	<script src="{% static "js/bootstrap-tooltip.js"%}"></script>
	<script src="{% static "js/bootstrap-popover.js"%}"></script>
</head>
 <body>
	{{ navbar }}
	<div class="container-fluid row-fluid">
		<div class="span12">
	    	{{ menu }}
	    	<div class="span3">
				<div class="well" style=" padding: 8px 0;">
					<ul class="nav nav-list">
						<li><label class="tree-toggler nav-header" id="title">Custom questions</label>
							<ul class="nav nav-list tree">		
									<li><a href="#" onclick="get_exercise_details(1)"> Question 1</a></li>
									<li><a href="#" onclick="get_exercise_details(2)"> Question 2</a></li>
							</ul>
						</li>
					</ul>
				</div>

				<a style="cursor:pointer;" id="new_question"><i class="glyphicon glyphicon-plus"></i>New custom question</a>
			</div>
			<div class="span5">
				<div id="spec">
					<i>Question</i>
					<br>
					<div id="description"></div>
					<br>
					<pre id="code" class="prettyprint lang-python"> </pre>
				</div>

				<div id="new_question_form">
					<form>
						{% csrf_token %}
						<i>Question</i>

						<label class="checkbox pull-right">
	      					<input type="checkbox" id="checkbox"> Private <a href="#" id="private_info" class="glyphicon glyphicon-info-sign pull" rel="popover" data-content="All custom exercises are public. Tick this box to make this exercise private."></a>
	    				</label>

						<br>
						{{new_ex.media}}
						{{new_ex.non_field_errors}}
						{{new_ex.description.errors}}
						{{new_ex.description}}
						<br><br>
						<i>Code</i>		
						<br>
						{{new_ex.code.errors}}
						{{new_ex.code}}
						<br><br>
						<i>Sample Solution</i>
						<br>
						{{new_ex.sample_answer.errors}}
						{{new_ex.sample_answer}}
						<br><br>
						<button id="cancel" class="btn btn-primary">Cancel</button>
						<button id="save" class="btn btn-primary">Save</button>
						<br>
						<br>
						<br>
						<div>
						    <p> To test your program add a new test, select the function name you want to test and input the chosen arguments you want to test for. The results of running your Python program will be displayed below. You can add as many tests as you want and save them for later use.</p>
						    <a href="#" onclick="return false;"; id="test_link">
							    <i class="glyphicon glyphicon-plus-sign plus-sign"></i>
						      	Add new test
						      	<br>
						    </a>
						    <div id="student_tests" style="padding-left:25px">
						    </div>
						</div>
					</form>
				</div>

				<div id="confirmation"></div>
			</div>
		</div>
	</div>

	<script>
		var testId = 0;  
		$("#private_info").popover();
		$("#example").popover(); 
		$("#spec").hide();
		$("#confirmation").text("");
		$("#new_question_form").hide();

		$('#test_link').click(function () {
	    $("#student_tests").append(createTest());
	    
	    if ($("#output" + testId).text() == "") 
	    {
	      $("#output" + testId).hide();
	    }
	    $("#get_results" + testId).click(function (event) {
		      var id = event.currentTarget.id.substring(INDEX_POS);
		      var name = $("#function_name" + id).val();
		      var cases = $("#input_args" + id).val().split("\n");
		      var functionCalls = [];
		      var expectedResults = [];
		      for (i in cases)
		      { 
		        testCase = cases[i];
		        var values = testCase.split(",");
		        expectedResults.push(values[values.length-1]);
		        var arguments = values.slice(0,values.length-1);
		        functionCalls.push(name+"("+arguments+")");
		      }
		      runTest(functionCalls, expectedResults, id);
		    });
		    testId++;
	  	});

		function get_exercise_details(ex_id)
		{
			var csrftoken = getCsrfToken();
			$.ajax({
		        type: 'GET',
		        url: "/teacher/get-exercise/",
		        data: {
		                'ex_id': ex_id
		              },
		        beforeSend: function(xhr, settings) 
		              {
		                xhr.setRequestHeader("X-CSRFToken", csrftoken);
		              },
		        success: function(response) 
		              {
		              	var result = response.split("$%$");
		              	if (result.length == 1)
		              	{
			            	alert("Something went wrong. Please come back later");
			            }
			            else
			            {
			            	display_exercise_details(result[1], result[0]);
			            }
		              }
		    });
		}

		function createTest() 
		{
		    var d = "<div id=\"test"+ testId + "\"> Function <input type=\"text\" class=\"form-control\" id=\"function_name" + testId + "\">  <br> Arguments <input type=\"text\" class=\"form-control\" id=\"input_args" + testId + "\"> <br> <button class=\"btn btn-info\" id=\"get_results" + testId + "\">Run</button> <button class=\"btn btn-info\">Save</button> <br><br> <div class=\"well well-small\" id=\"output" + testId + "\"></div> </div>";
		    return d;
		}

		function display_exercise_details(description, code)
		{
			$("#description").text(description);
			$("#code").text(code);
			$("#spec").fadeIn("slow");
			$("#confirmation").text("");
			$("#new_question_form").fadeOut("slow");
		}

		$("#title").click(function () {
			$("#spec").fadeOut("slow");
			$("#confirmation").text("");
		});
		
		$("#new_question").click(function () {
			$("#spec").fadeOut("slow");
			$("#confirmation").text("");
			$("#new_question_form").fadeIn("slow");
		});

		$("#cancel").click(function () {
			$("#new_question_form").fadeOut("slow");
			$("#confirmation").text("");
		});

		$("#save").click(function () {
			var conf = "The custom question '" + $("#question_editor").val() + "'has been saved, along with the following code: " + $("#code_editor").val();
			$("#confirmation").text(conf);
			$("#new_question_form").fadeOut("slow");
			var private_exercise = $("#checkbox").is(':checked') ? 1 : 0;
			console.log(private_exercise);
			//TODO server side
		});

	</script>
</body>
</html>