<!DOCTYPE html>
{% load staticfiles %}
{% load selectable_tags %}
<html lang="en">
<head>
  {{ header }}
  {% include_ui_theme %}
  {% include_jquery_libs %}
  {{ add_student.media.css }}
  {{ add_student.media.js }}
  <script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>
</head>
<body>
  {{ navbar }}

  <div class="container-fluid row-fluid">
    {{ menu }}
    <div class="span9 accordion-group" style="background-color:#fff">
        <div class="accordion-heading" id="" style="padding-left:10px;">
          <h5>Manage classes
            <button type="button" data-toggle="modal" data-target="#newClass" class="btn btn-medium pull-right" style="position:relative; bottom:5px; right: 5px;">
              <i class="glyphicon glyphicon-plus" style="vertical-align: bottom;"></i>New class</button>
          </h5>
        </div>
        <div class="accordion-inner" id="">
        
          {% for year in teaching_hierarchy.get_teaching_years %}
            <ul class="nav nav-pills">
              <li><span class="label" style="position:relative; top:5px;">Year {{ year.get_name }}</span></li>
              {% for cls in year.get_teaching_classes %}
                <li><a href="#" onclick="updateNames({{ cls.get_id }}); return false;">{{ cls.get_name }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
           <div class="accordion-group" style="background-color:#F0F0F0;">
            <div class="accordion-heading" style="padding-left:10px;">
              <h5 id="classTitle"> </h5>
              <input type="text" id="classEditTitle" class="input input-medium" placeholder="Class name..." style="height:30px; position:relative; top:5px">
              <button type="button" id="save_name" class="btn btn-default" onclick="saveNewName()">Save</button>
              <button type="button" id="cancel_name" class="btn btn-default" onclick="cancelNewName()">Cancel</button>
              <div id="dropdown" class="btn-group pull-right" style="position: relative; bottom: 35px;"> 
                <a class="btn btn-link dropdown-toggle" id="settings" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-cog glyphicon-white" style="color:#000;"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="editTitle(event)"><i class="glyphicon glyphicon-pencil"></i> Edit</a>
                    </li>
                    <li><a href="#" onclick="delClassPopup(event)"><i class="glyphicon glyphicon-trash"></i> Delete class</a>
                    </li>
                </ul>
              </div>
            </div>
            <div class="accordion-inner" id="">
              <ul class="nav nav-pills" id="names">

              </ul>          
              <div id="add_student">Put student {{ add_student.student }} in Class 1B. Please save or cancel your change.</div>
              <button type="button" id="add_student_btn" class="btn btn-small">
                <i class="glyphicon glyphicon-plus"></i>
              </button>
              <button type="button" class="btn btn-default" onclick="savePopup()">Save</button>
              <button type="button" class="btn btn-default" onclick="cancelPopup()">Cancel</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="newClass" class="modal hide fade">
    <div class="modal-header">
      <button id="modalCloseButton" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Create a new class</h3>
    </div>
    <div class="modal-body">
      <p>Please insert a year for your class.</p>
      <select id="newClassYear" class="input input-small" >
        {% for i in years %}
          <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
      <p>Please insert a name for your class.</p>
      <input id="newClassName" type="text" class="input input-large">
      <div class="accordion-inner" id="">
        <!-- <ul class="nav nav-pills" id="names">
          <li><a href="#">Varun Verma<i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>   -->        
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary" onclick="makeNewClass(event)">Submit</a>
    </div>
</div>
</body>

<script>
  $("#add_student").hide();
  $("#classEditTitle").hide();
  $("#save_name").hide();
  $("#cancel_name").hide();

  $("#add_student_btn").click(function(){
    $("#add_student").fadeIn(300);
  });

  var current_class = -1;

  var classes_names = {};
  {% for year in teaching_hierarchy.get_teaching_years %}
      {% for cls in year.get_teaching_classes %}
        classes_names["{{ cls.get_id }}"] = "{{ cls.get_name }}";
      {% endfor %}
  {% endfor %}

  var students = [];
  var class_edits = [];

  $('#id_student').keyup(function(e){
      if(e.keyCode == 13)
      {
        var val = document.getElementById('id_student').value.split("(");
        if (val.length !=2)
          return ;
        var name = val[0];
        var user_id = val[1].substring(0,val[1].length-1);
        if (!contains_student(user_id))
        {
          students.push({'user_id':user_id, 'name':name});
          class_edits.push({"add":user_id});
          var html = '<li ><a id="id_'+ user_id +'" href="#">'+ name +'<i onclick="deleteStudent(\''+ user_id + '\', \''+ name+ '\')" class="glyphicon glyphicon-remove"></i></a></li>';
          // alert(html);
          document.getElementById("names").innerHTML += html;
          $("#id_" + user_id).css('background-color', '#c7ebac');
          $("#id_" + user_id).css('color', '#5FA629');
        }
      }
  });

  function contains_student(uname)
  {
    for (i in students)
    {
      if (students[i].uname == uname)
        return true;
    }
    return false;
  }

  function deleteStudent(std_id, full_name)
  {
    // TODO:(irina) add notification
    alert("Are you sure you want to remove " + full_name + " from class?");
    $("#id_" + std_id).css('background-color', '#FFDCD3');
    $("#id_" + std_id).css('color', '#FF5C33');
    class_edits.push({'del':std_id});
  }

  function saveNewName() 
  {
    var newName = document.getElementById("classEditTitle").value;
    if (confirm("Are you sure you want to change name of " + classes_names[current_class.toString()] + " to " + newName + "?"))
    {
      if (updateNameForCourse(current_class,newName))
      {
          classes_names[current_class.toString()] = newName;
          update_current_class_name();
      }
      $("#classEditTitle").hide();
      $("#save_name").hide();
      $("#cancel_name").hide();
      $("#classTitle").fadeIn(300);
      $("#dropdown").css('top', -35);
      location.reload();
    }
  }

  function updateNameForCourse(cls_id, name)
  {
    $.ajax({
      type: 'POST',
      url: '/teacher/update-class-name/',
      data: {
              'course_id': cls_id,
              'course_name': name
            },
      beforeSend: function(xhr, settings) 
            {
              xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
            },
      success: function(response) 
            {
              return true;
            }
    });
    return false;
  }

  function cancelNewName() {
    $("#classEditTitle").hide();
    $("#save_name").hide();
    $("#cancel_name").hide();
    $("#classTitle").fadeIn(300);
    $("#dropdown").css('top', -35);
  }

  function updateNames(course_id)
  {
    getNamesForClass(course_id);
  }

  function showStudents(course_id)
  {
    var namesHTML = ""
    for (i in students)
    {  
      namesHTML += '<li><a href="#" id="id_'+ students[i].user_id +'">'+ students[i].full_name +'<i onclick="deleteStudent(\''+ students[i].user_id+ '\', \''+ students[i].full_name+ '\')" class="glyphicon glyphicon-remove"></i></a></li>';
    }
    document.getElementById("names").innerHTML = namesHTML;
    current_class = course_id;
    update_current_class_name();
  }

  function update_current_class_name()
  {
    document.getElementById("classTitle").innerHTML = classes_names[current_class.toString()];
  }

  function getNamesForClass(course_id)
  {
    var csrftoken = getCsrfToken();
    $.ajax({
          type: 'POST',
          url: '/teacher/get-students-in-class/',
          data: {
                  'course_id': course_id
                },
          beforeSend: function(xhr, settings) 
                {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
          success: function(response) 
                {
                  students = JSON.parse(response);
                  showStudents(course_id);
                }
      });
    return false;
  }

  function makeNewClass(event) 
  {
    // $("#newClass").modal('hide');
    $("#modalCloseButton").click();
    var class_name = $("#newClassName").val();
    var class_year = $("#newClassYear").val();
    var csrftoken = getCsrfToken();
    $.ajax({
          type: 'POST',
          url: '/teacher/add-new-class/',
          data: {
                  'name': class_name,
                  'year': class_year
                },
          beforeSend: function(xhr, settings) 
                {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
          success: function(response) 
                {
                  // TODO:(irina) add notification
                  alert(response);
                  /*
                    *
                    *
                    *
                    * ADD WAY TO SHOW CLASS IS ADDED
                    *
                    *
                    * 
                    *
                    *
                    *
                    *
                    *
                  */
                }
      });
    return false;
  }

  function savePopup() {
    var name = $("#student_name").val();

    if (class_edits.length>0 && current_class>0 && confirm("Are you sure you want to update the class?"))
    {
      $.ajax({
        type: 'POST',
        url: '/teacher/class-settings/manage-class/',
        data: {
                'ops': JSON.stringify(class_edits),
                'cls_id':current_class
              },
        beforeSend: function(xhr, settings) 
              {
                xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
              },
        success: function(response) 
              {
                // TODO:(irina) add notification
                class_edits = [];
                getNamesForClass(current_class);
              }
      });
    }
  }

  function cancelPopup() {
    var name = $("#student_name").val();
    var response = confirm("All changes will be cancelled. Proceed?");
    if (response) {
      class_edits = [];
      getNamesForClass(current_class);
    }
  }

  function delClassPopup(event) {
    //For server side use
    var class_to_delete = $(event.target).parent().parent().parent().parent().find($('#classTitle')).text();

    var response = confirm(class_to_delete + " will be deleted and all students removed from it. Proceed?");
    if (response) {
      location.reload();
    }
  }

  function editTitle(event) {
    $("#classTitle").hide();
    $("#classEditTitle").fadeIn(100);
    $("#save_name").fadeIn(100);
    $("#cancel_name").fadeIn(100);
    $("#dropdown").css('bottom', 0);
    $("#dropdown").css('top', 5);
  }
</script>
</html>