<!DOCTYPE html>
{% load staticfiles %} <html lang="en">
<head>

  {{ header }}
  <script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>
</head>
<body>
  {{ navbar }}

  <div class="container-fluid row-fluid">
    {{ menu }}
    <div class="span9">
    <div class="span9 accordion-group" style="background-color:#fff">
        <div class="accordion-heading" id="" style="padding-left:10px;">
          <h5>Manage classes</h5>
        </div>
        <div class="accordion-inner" id="">
        
          <ul class="nav nav-pills">
            <li><span class="label" style="position:relative; top:5px;">Year 1</span></li>
            <li><a href="#">Class A</a></li>
            <li class="active"><a href="#">Class B</a></li>
            <li><a href="#">Class C</a></li>
          </ul>
          <ul class="nav nav-pills">
            <li><span class="label" style="position:relative; top:5px;">Year 2</span></li>
            <li><a href="#">Class A</a></li>
            <li><a href="#">Class B</a></li>
          </ul>

           <div class="accordion-group" style="background-color:#eff;">
            <div class="accordion-heading" id="" style="padding-left:10px;">
              <h5>Class 1C<a href="#" class="glyphicon glyphicon-pencil pull-right"></a></h5>
            </div>
            <div class="accordion-inner" id="">
              <ul class="nav nav-pills" id="names">
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
                <li><a href="#">name <i class="glyphicon glyphicon-remove"></i></a></li>
              </ul>          
              <div id="add_student">Put student <input type="text" id="student_name" class="input input-medium" placeholder="Search for a name..." style="height:30px; position:relative; top:5px"> in Class 1B. Please save or cancel your change.</div>
              <button type="button" id="add_student_btn" class="btn btn-small">
                <i class="glyphicon glyphicon-plus">Add</i>
              </button>
              <button type="button" class="btn btn-default" onclick="savePopup()">Save</button>
              <button type="button" class="btn btn-default" onclick="cancelPopup()">Cancel</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <script>
    $("#add_student").hide();
    $("#add_student_btn").click(function(){
      $("#add_student").fadeIn(300);
    });

    function savePopup() {
      var name = $("#student_name").val();
      if (name != "") {
        var response = confirm(name + " will be added to class 1B. Proceed?");
        if (response) {
          location.reload();
        }
      }
    }

    function cancelPopup() {
      var name = $("#student_name").val();
      if (name != "") {
        var response = confirm("All changes will be cancelled. Proceed?");
        if (response) {
          location.reload();
        }
      }
    }
  </script>
</body>
</html>