<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
  {{header}}
  </head>

  <body>
    {{ navbar }}
  	<div class="container-fluid">
  		<div class="row-fluid">
       <div class="span2">
        <p> <i class="glyphicon glyphicon-ok"></i> Learn to code </p>
        <p> <i class="glyphicon glyphicon-ok"></i> Teach coding </p>
      </div>
      <div class="span9">
        <br>
        <h3>Welcome! Please select your user type to log in: 
        <br>
        <a href="/student-login/"> Student</a>
        <br>
        <a href="/teacher-login/">Teacher</a></h3>
       <!--  <form>
          <div class="control-group">
            <label class="control-label">Choose your profile type</label>
            <div class="controls">
              <label class="radio inline">
                <input type="radio" name="radio" id="r1"/>
                Student
              </label>
              <label class="radio inline">
                <input type="radio" name="radio" id="r2"/>
                Teacher
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-success" id="submit">Enter</button>
        </form> -->
      </div>
    </div>
  </div>
</div>
</body>
</html>