<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="{% static "css/bootstrap-responsive.min.css"%}" rel="stylesheet">
  <link href="{% static "css/style.css"%}" rel="stylesheet">

  <script type="text/javascript" src="{% static "js/jquery.min.js"%}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js"%}"></script>
  <script type="text/javascript" src="{% static "js/scripts.js"%}"></script>

  <title>{{title}}</title>
  </head>

  <body>
  	<div class="container-fluid">
  		<div class="row-fluid">
        <h3>
         A Framework for Setting and Assessing Programming Exercises
       </h3>
       <div class="span2">
        <p> --> Learn to code </p>
        <p> --> Teach coding </p>
      </div>
      <div class="span9">
       <div class="" id="loginModal">
        <div class="modal-body" style="max-height:800px;">
          <div class="well">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
              <li><a href="#createstudentaccount" data-toggle="tab">Register</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane active in" id="login">
                <form class="form-horizontal" action='/authenticate_{{type}}/' method="POST">
                  {% csrf_token %}
                  {{ login_form.non_field_errors }}
                  <fieldset>
                    <div class="control-group">
                      <!-- Username -->
                      {{ login_form.username.errors }}
                      <label class="control-label" for="username">Username</label>
                      <div class="controls">
                        {{ login_form.username }}
                      </div>
                    </div>
                    <div class="control-group">
                      <!-- Password-->
                      {{ login_form.password.errors }}
                      <label class="control-label" for="password">Password</label>
                      <div class="controls">
                        {{ login_form.password}}
                      </div>
                    </div>
                    <div class="control-group">
                      <!-- Button -->
                      <div class="controls">
                        <button class="btn btn-success" value="Submit">Login</button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
              <div id="createstudentaccount" class="tab-pane fade">
                <form class="form-horizontal" action='/register-student/' method="POST"> 
                  {% csrf_token %}
                  {{ login_form.non_field_errors }}
                  <fieldset>
                    <div class="control-group">
                      {{ register_form.username.errors }}
                      <label class="control-label" for="username">Username</label>
                      <div class="controls">
                        {{ register_form.username }}
                      </div>
                    </div>
                    <div class="control-group">
                      {{ register_form.first_name.errors}}
                      <label class="control-label" for="firstname">First Name</label>
                      <div class="controls">
                        {{ register_form.first_name }}
                      </div>
                    </div>
                    <div class="control-group">
                      {{register_form.last_name.errors}}
                      <label class="control-label" for="lastname">Last Name</label>
                      <div class="controls">
                        {{register_form.last_name}}
                      </div>
                    </div>
                    <div class="control-group">
                      {{register_form.email.errors}}
                      <label class="control-label" for="email">E-mail</label>
                      <div class="controls">
                        {{register_form.email}}
                        <div id="emailText"></div>
                      </div>
                    </div>
                    <div class="control-group">
                      {{register_form.school.errors}}
                      <label class="control-label" for="school">School</label>
                      <div class="controls">
                        {{register_form.school}}
                      </div>
                    </div>
                    {% if type|stringformat:"s" == "student"%}
                      <div class="control-group">
                        {{ register_form.year.errors}}
                        <label class="control-label" for="year">Year</label>
                        <div class="controls">
                          {{register_form.year}}
                        </div>
                      </div>
                      <div class="control-group">
                        {{register_form.Class.errors}}
                        <label class="control-label" for="class">Class</label>
                        <div class="controls">
                          {{register_form.Class}}
                        </div>
                      </div>
                    {% endif %}
                    <div class="control-group">
                      {{register_form.reg_password.errors}}
                      <label class="control-label" for="password">Password</label>
                      <div class="controls">
                        {{register_form.reg_password}}
                        <div id="divCheckPasswordValid"></div>
                      </div>
                    </div>
                    <div class="control-group">
                      {{register_form.repeat_password.errors}}
                      <label class="control-label" for="passwordconf">Re-enter your password</label>
                      <div class="controls">
                        {{register_form.repeat_password}}
                        <div id="divCheckPasswordMatch"></div>
                      </div>
                    </div>
                    <div class="control-group">
                      <!-- Button -->
                      <div class="controls">
                        <button class="btn btn-success" id="submit" value="Submit" >Submit</button>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("#email").keyup(checkEmailValid);

  function checkEmailValid() {
    var email = $("#email").val();
    var text = $("#emailText");
    if (!validateEmail(email)) {
      text.text("Please enter a valid e-mail address.");
      $('#submit').attr('disabled', true);
    } else {
      console.log(email);
      text.text("");
      $('#submit').attr('disabled', false);
    }
  }

  $("#regPassword").keyup(checkPasswordValid);
  $("#passwordconf").keyup(checkPasswordMatch);

  function checkPasswordValid() {
    var pw = $("#regPassword").val();
    var conf = $("#passwordconf").val();
    var checkValidText = $("#divCheckPasswordValid");
   
    if (pw.length < 8) {
      checkValidText.text("The password must be at least 8 characters long.");
      $('#submit').attr('disabled', true);
    } else if (conf != "" && pw != conf) {
      checkValidText.text("");
    } else {
      $('#submit').attr('disabled', false);
      checkValidText.text("");
    }
  }

  function checkPasswordMatch() {
    var pw = $("#regPassword").val();
    var checkValidText = $("#divCheckPasswordValid");
    var checkMatchText = $("#divCheckPasswordMatch")
    var conf = $("#passwordconf").val();

    if (pw != conf) {
      checkMatchText.text("Passwords don't match :(");
      $('#submit').attr('disabled', true);
    } else {
      checkMatchText.text("");
      $('#submit').attr('disabled', false);
    }
  }

  function validateEmail($email) 
  {
    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    if( !emailReg.test( $email ) ) {
      return false;
    } else {
      return true;
    }
  }
</script>
</body>
</html>