<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta HTTP-EQUIV="refresh" CONTENT="10;URL='/'">
    {{header}}
  </head>
 
  <body>
    {{navbar}}
  	<div class="container-fluid">
  		<div class="row-fluid">
        <h3>
         A Framework for Setting and Assessing Programming Exercises
       </h3>
       <div class="span2">
        <p> <i class="glyphicon glyphicon-ok"></i> Learn to code </p>
        <p> <i class="glyphicon glyphicon-ok"></i> Teach coding </p>
      </div>
      <div class="span9">
       <div class="" id="loginModal">
        <div class="modal-body" style="max-height:800px;">
          <div class="well">
            You have been successfully logged out.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>
</body>
</html>