<div class="navbar navbar-inverse nav">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">CodeDriLL</a>
      {% if loggedIn %}
        <div class="nav-collapse collapse">
          <div class="pull-right">
            <ul class="nav pull-right">
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{name}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a {% if type|stringformat:"s" == "Teacher"%}
                          href="/teacher/account-settings/"
                        {%else%}
                          href="/student/account-settings/"
                        {%endif%}
                    >
                      <i class="glyphicon glyphicon-cog"></i> Account settings
                    </a>
                  </li>
                  {% if type|stringformat:"s" == "Teacher"%}
  	                <li>
  	                  <a href="/class-settings/">
  	                    <i class="glyphicon glyphicon-pencil"></i> Class settings
  	                  </a>
  	                </li>
  	            {% endif %}
                  <li class="divider"></li>
                  <li><a href="/logout/"><i class="icon-off"></i> Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      {% endif%}
    </div>
  </div>
</div>