<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	{{ header }}
	<script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>
	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>
<!-- onload="prettyPrint()" -->
<body >
	{{navbar }}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					{{menu}}
						<div class="span10">
							<legend>Set an exercise</legend>
							<script>
							$(document).ready(function () {
								$('label.tree-toggler').click(function () {
									$(this).parent().children('ul.tree').toggle(300);
								});
									$('#selection-text').hide();
									$('#submit-btn').attr('disabled', 'disabled');
								});
							</script>
							<div class="span5">
								<label>Choose exercise</label>
								<div class="well" style=" padding: 8px 0;">
										<ul class="nav nav-list">
											{% for chapter in assignment_book.get_chapters %}
											<li><label class="tree-toggler nav-header" id="{{ chapter.get_name }}">{{ chapter.get_name }}</label>
												<ul class="nav nav-list tree">
												{% for assignment in chapter.get_assignments %}
													<li><a id="{{ chapter.get_name }}-{{ assignment.get_id }}"> {{ assignment.get_name }}</a></li>
												{% endfor %}
												</ul>
											</li>
											{% endfor %}
										</ul>
								</div>
								<a href="#" id="view_spec"><label><i class="glyphicon glyphicon-eye-open"></i>View specification</label></a>
								<i id="question">Question</i>
								<div id="question_text"></div> 
								<br>
								<div id="specification_window">
									<a href="#edit_modal" onclick="editExercise(); return false;" role="button" data-toggle="modal" class="glyphicon glyphicon-pencil pull-right">Edit</a>
									<pre id="specification_window_text"> <!-- class="prettyprint" -->
										<code></code>
									</pre>
								</div>
								<div id="temp_change"><i></i></div>
							</div>
							<div class="span5">
								<label>Choose class</label>
								<div class="well" style=" padding: 8px 0;">
									<div style="">
										{% for year in teaching_hierarchy.get_teaching_years %}
											<ul class="nav nav-list">
												<li><label class="tree-toggler nav-header">Year {{ year.name }}</label>
												<ul class="nav nav-list tree">
												{% for cls in year.get_teaching_classes %}
													<li><a id="year-{{ year.get_name }}-class-{{ cls.get_id }}">{{cls.get_name}}</a></li>
												{% endfor %}
												</ul>
											</li>
											</ul>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class ="span2"></div>
				<div class="span10">
					<div id="selection-text"></div>
					<br>
					<form>
						{% csrf_token %}
						<button onclick="submit_ex(); return false;" class="btn" id="submit-btn">Send</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<style type="text/css">
		.django-ace-editor {
			width: 100% !important;
			height: 150px !important;
		}
		.modal {
			width: 70% !important;
			left: 35% !important;
		}
	</style>
	<div id="edit_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Edit exercise</h3>
		</div>
		<div  class="modal-body">
			<iframe id="editable_form" src="#" class="container well well-small span6"
		           style="height: 365px; width: 90%; ">
			</iframe>
	        <!-- {{view_spec_form}} -->
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<!-- <div class="dropdown btn-group">
			    <a id="dropdown" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			        Choose class <span class="caret"></span>
			    </a>
			    <ul id="classes" class="dropdown-menu">
			        {% for year in teaching_hierarchy.get_teaching_years %}
						{% for cls in year.get_teaching_classes %}
							<li>
								<a style="cursor:pointer" id="year-{{ year.get_name }}-class-{{ cls.get_id }}">
									{{ year.name }} - {{ cls.get_name }}
								</a>
							</li>
						{% endfor %}
					{% endfor %}
			    </ul>
			</div> -->
			<button id="send_edited" data-dismiss="modal" class="btn btn-primary">Save</button>
		</div>
	</div>

	<script>
	var exercise = "", group = "", spec_question = "", spec_code = "";
	var text = $('#selection-text');
	var exercises = {}, exercisesDivs = {}, groups = {}, groupsDivs = {};
	var hlE = false, hlG = false;
	var idE = 0, idG = 0;

	$("#specification_window").hide();
	$("#view_spec").hide();
	$("#question").hide();
	$("#question_text").hide();

	$("#classes li a").click(function () {
		$("#dropdown").html($(this).text()+' <span class="caret"></span>');
	});

	$("#send_edited").click(function () {
	    $("#question_text").text($('#editable_form').contents().find("#id_description").val());
	    $("#specification_window_text").text($('#editable_form').contents().find("#id_code").val());
	    exercise = "Custom question (" + $("#question_text").text() + ")";
	})

	{% for year in teaching_hierarchy.get_teaching_years %}
		{% for cls in year.get_teaching_classes %}
			groupsDivs["{{cls.get_id}}"] = "year-{{ year.get_name }}-class-{{ cls.get_id }}";
			groups["{{cls.get_id}}"] = "{{ year.get_name }} - {{ cls.get_name }}";
		{% endfor %}
	{% endfor %}

	{% for chapter in assignment_book.get_chapters %}
		{% for assignment in chapter.get_assignments %}
			exercises["{{ assignment.get_id }}"] = "{{ assignment.get_name }}";
			exercisesDivs["{{ assignment.get_id }}"] = "{{ chapter.get_name }}-{{ assignment.get_id }}";
		{% endfor %}
	{% endfor %}

	//TODO please add a loop for the custom exercises too

	for (i in exercisesDivs) {
		$(("#" + exercisesDivs[i])).click(function (event) {
			target = "#" + event.currentTarget.id;
			if ($(target).css("background-color") == "rgb(255, 176, 122)") {
				$(target).attr("style", false);
				hlE = false;
				exercise = "";
				set();
				hideSpecificationOptions();
			} else if (!hlE) {
				$(target).css("background-color","#ffb07a");
				hlE = true;
				exercise = getKeyFromValue(exercisesDivs, event.currentTarget.id);
				set();
				showSpecificationOptions(target);
			} else {
				clean(exercisesDivs);
				hlE = false;
				$(target).css("background-color","#ffb07a");
				hlE = true;
				exercise = getKeyFromValue(exercisesDivs, event.currentTarget.id);
				set();
				showSpecificationOptions(target);
			}
		});
	}

	for (i in groupsDivs) {
		$(("#" + groupsDivs[i])).click(function (event) {
			target = "#" + event.currentTarget.id;
			
			if ($(target).css("background-color") == "rgb(255, 176, 122)") {
				$(target).attr("style", false);
				hlG = false;
				group = "";
				set();
			} else if (!hlG) {
				$(target).css("background-color","#ffb07a");
				hlG = true;
				group = getKeyFromValue(groupsDivs, event.currentTarget.id);
				set();
			} else {
				clean(groupsDivs);
				hlG = false;
				$(target).css("background-color","#ffb07a");
				hlG = true;
				group = getKeyFromValue(groupsDivs, event.currentTarget.id);
				set();
			}
		});
	}

	function submit_ex() 
	{
		csrftoken = getCsrfToken();
		$.ajax({
        type: 'POST',
        url: '/teacher/submit-exercise/',
        data: {
                'group': group,
                'exercise': exercise,
                'code': spec_code
              },
        beforeSend: function(xhr, settings) 
              {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              },
        success: function(response) 
              {
              	clean(exercisesDivs);
              	clean(groupsDivs);
              	$('#submit-btn').attr('disabled', true);
              	text.text("Exercise sent to students");
              	$("#spec_question").fadeIn(600);
				$("#question").hide();
				$("#question_text").text("");
				$("#question_text").hide();
				$("#specification_window_text").text("");
				$("#specification_window").hide();
              }
    	});
		
	}

	function editExercise()
	{
		$("#editable_form").attr('src',"/teacher/set-exercise/view-spec-form/" + exercise.toString() + "/");
		$("#editable_form").contentWindow.location.reload(true);
	}

	function showSpecificationOptions(target) {
		$("#view_spec").fadeIn(600);
		getSpec(target);
	}

	$("#view_spec").click(function () {
		if (spec_question != "") {
			$("#spec_question").fadeIn(600);
			$("#question").fadeIn(600);
			$("#question_text").text(spec_question);
			$("#question_text").fadeIn(600);
		}

		if (spec_code != "") {
			$("#specification_window_text").text(spec_code);
			$("#specification_window").fadeIn(600);
			$("#code_editor").val(spec_code);
			$("#question_editor").val(spec_question);
		}
	});

	function saveTempExercise(question, code) {
		hideSpecificationOptions();
		$("#temp_change").text("Select class to send the following exercise to: <br>" + "sampleQ" + "<br><br>" + "sampleC");
	}

	function hideSpecificationOptions() {
		$("#view_spec").fadeOut(600);
		$("#question").fadeOut(600);
		$("#question_text").fadeOut(600);
		$("#specification_window").fadeOut(600);
	}

	/*
	 * To be changed with back end calls :-)
	 */
	function getSpec(target) 
	{
	  var csrftoken = getCsrfToken();
	  $.ajax({
	        type: 'GET',
	        url: "/teacher/get-exercise/",
	        data: {
	                'ex_id': exercise
	              },
	        beforeSend: function(xhr, settings) 
	              {
	                xhr.setRequestHeader("X-CSRFToken", csrftoken);
	              },
	        success: function(response) 
	              {
	              	var result = response.split("$%$");

	              	if (result.length == 1)
	              	{
		            	alert("Something went wrong. Please come back later");
		            }
		            else
		            {
		                spec_question =  result[1];
		                spec_code = result[0];
		                $("#question_text").text(spec_question);
		                $("#specification_window_text").text(spec_code);

		            }
	              }
	    });
	  return false;
	}

	function updateSpecDetails(ques, code)
	{

	}
	
	function clean(divsList) {
		for (key in divsList) {
			$(("#" + divsList[key])).attr("style", false);
		}
	}

	function set() {
		if (exercise != "" && group != "") {
			var selected_exercise;
			if (exercises[exercise]) {
				selected_exercise = "Exercise " + exercises[exercise] + " will be sent to Year " + groups[group] + ".";
			} else {
				selected_exercise = exercise + " will be sent to Year " + groups[group] + ".";
			}

			text.text(selected_exercise);
			text.hide();
			text.fadeIn("slow");
			$('#submit-btn').attr('disabled', false);
		} else {
			text.text("");
			text.hide();
			text.fadeIn("slow");
			$('#submit-btn').attr('disabled', true);
		}
	}

	function getKeyFromValue(map, value) {
		for (key in map) {
			if (map[key] == value) {
				return key;
			}
		}
		return null;
	}
	</script>
</body>
</html>