<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	{{ header }}
	<script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>
</head>

<body>
	{{navbar }}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					{{menu}}
						<div class="span10">
							<legend>Set an exercise</legend>

							<label>Choose exercise</label>
							<script>
							$(document).ready(function () {
								$('label.tree-toggler').click(function () {
									$(this).parent().children('ul.tree').toggle(300);
								});
									//$('.tree').hide();
									$('#selection-text').hide();
									$('#submit-btn').attr('disabled', 'disabled');
								});
							</script>
							<div class="span5">
								<div class="well" style=" padding: 8px 0;">
									<div style="">
										{% for chapter in assignment_book.get_chapters %}
											<ul class="nav nav-list">
											<li><label class="tree-toggler nav-header" id="{{ chapter.get_name }}">{{ chapter.get_name }}</label>
												<ul class="nav nav-list tree">
												{% for assignment in chapter.get_assignments %}
													<li><a id="{{ chapter.get_name }}-{{ assignment.get_id }}"> {{ assignment.get_name }}</a></li>
												{% endfor %}
												</ul>
											</ul>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="span5">
								<label>Choose class</label>
								<div class="well" style=" padding: 8px 0;">
									<div style="">
										{% for year in teaching_hierarchy.get_teaching_years %}
											<ul class="nav nav-list">
												<li><label class="tree-toggler nav-header">Year {{ year.name }}</label>
												<ul class="nav nav-list tree">
												{% for cls in year.get_teaching_classes %}
													<li><a id="year-{{ year.get_name }}-class-{{ cls.get_id }}">{{cls.get_name}}</a></li>
												{% endfor %}
												</ul>
											</li>
											</ul>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class ="span2"></div>
				<div class="span10">
					<div id="selection-text"></div>
					<br>
					<form>
						{% csrf_token %}
						<button onclick="submit_ex(); return false;" class="btn" id="submit-btn">Send</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
	var exercise = "", group = "";
	var text = $('#selection-text');
	var exercises = {}, exercisesDivs = {}, groups = {}, groupsDivs = {};
	var hlE = false, hlG = false;
	var idE = 0, idG = 0;

	{% for year in teaching_hierarchy.get_teaching_years %}
		{% for cls in year.get_teaching_classes %}
			groupsDivs["{{cls.get_id}}"] = "year-{{ year.get_name }}-class-{{ cls.get_id }}";
			groups["{{cls.get_id}}"] = "{{ year.get_name }}{{ cls.get_name }}";
		{% endfor %}
	{% endfor %}

	{% for chapter in assignment_book.get_chapters %}
		{% for assignment in chapter.get_assignments %}
			exercises["{{ assignment.get_id }}"] = "{{ assignment.get_name }}";
			exercisesDivs["{{ assignment.get_id }}"] = "{{ chapter.get_name }}-{{ assignment.get_id }}";
		{% endfor %}
	{% endfor %}

	for (i in exercisesDivs) {
		$(("#" + exercisesDivs[i])).click(function (event) {
			target = "#" + event.currentTarget.id;
			if ($(target).css("background-color") == "rgb(255, 176, 122)") {
				$(target).attr("style", false);
				hlE = false;
				exercise = "";
				set();
			} else if (!hlE) {
				$(target).css("background-color","#ffb07a");
				hlE = true;
				exercise = getKeyFromValue(exercisesDivs, event.currentTarget.id);
				set();
			} else {
				clean(exercisesDivs);
				hlE = false;
				$(target).css("background-color","#ffb07a");
				hlE = true;
				exercise = getKeyFromValue(exercisesDivs, event.currentTarget.id);
				set();
			}
		});
	}

	for (i in groupsDivs) {
		$(("#" + groupsDivs[i])).click(function (event) {
			target = "#" + event.currentTarget.id;
			
			if ($(target).css("background-color") == "rgb(255, 176, 122)") {
				$(target).attr("style", false);
				hlG = false;
				group = "";
				set();
			} else if (!hlG) {
				$(target).css("background-color","#ffb07a");
				hlG = true;
				group = getKeyFromValue(groupsDivs, event.currentTarget.id);
				set();
			} else {
				clean(groupsDivs);
				hlG = false;
				$(target).css("background-color","#ffb07a");
				hlG = true;
				group = getKeyFromValue(groupsDivs, event.currentTarget.id);
				set();
			}
		});
	}

	function submit_ex() 
	{
		csrftoken = getCsrfToken();
		$.ajax({
        type: 'POST',
        url: '/teacher/submit-exercise/',
        data: {
                'group': group,
                'exercise': exercise
              },
        beforeSend: function(xhr, settings) 
              {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              },
        success: function(response) 
              {
              	alert("exercise submitted");  
              }
    	});
		
	}
	
	function clean(divsList) {
		for (key in divsList) {
			$(("#" + divsList[key])).attr("style", false);
		}
	}

	function set() {
		if (exercise != "" && group != "") {
			text.text("Exercise " + exercises[exercise] + " will be sent to class Year " + groups[group] + ".");
			text.hide();
			text.fadeIn("slow");
			$('#submit-btn').attr('disabled', false);
		} else {
			text.text("");
			text.hide();
			text.fadeIn("slow");
			$('#submit-btn').attr('disabled', true);
		}
	}

	function getKeyFromValue(map, value) {
		for (key in map) {
			if (map[key] == value) {
				return key;
			}
		}
		return null;
	}
	</script>
</body>
</html>