<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <link rel=stylesheet href="{% static "codemirror/doc/docs.css"%}">
  <script src="{% static "codemirror/lib/codemirror.js"%}"></script>
  <link rel="{% static "stylesheet" href="codemirror/lib/codemirror.css"%}">
  <script src="{% static "codemirror/addon/edit/matchbrackets.js"%}"></script>
  <script src="{% static "codemirror/mode/python/python.js"%}"></script>
  <script type="text/javascript" src="{% static "js/submit_code.js"%}"></script>
  <script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>

  {{ header }}

</head>

<body>
  {{navbar}}
 <div class="container-fluid">
  <div class="row-fluid">
   {{ menu }}
    <div class="span9">
      <div class="panel panel-default">
        <div class="panel-body">                
          <form accept-charset="UTF-8" method="POST">
            {% csrf_token %}
            <p>{{ description }}</p>
            {{ code_form.non_field_errors }}
            {{ code_form.code.errors }}
            {{ code_form.code }}
            <br>
            <label style="display:block">
              <table><tr>
                <td><button class="btn btn-info" type="Submit" onclick="submit_code({{ ex_id }}); return false;">Submit</button></td>
                <td><div id="ok_{{ ex_id }}"><i class="glyphicon glyphicon-ok ok"></i></div></td>
                <td><div id="wrong_{{ ex_id }}"><i class="glyphicon glyphicon-remove wrong"></i></div></td>
              </tr></table>
            </label>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
  <script>
  $('#wrong_{{ ex_id }}').hide();
  $('#ok_{{ ex_id }}').hide();

  var myCodeMirror = CodeMirror.fromTextArea($('#id_code_{{ ex_id }}'), {
    mode: {name: "python",
           version: 2,
           singleLineStringErrors: false},
    lineNumbers: true,
    //indentUnit: 4,
    smartIndent: true,
    tabSize: 2,
    indentWithTabs: true,
    tabMode: "shift",
    autofocus: true,
    matchBrackets: true
  });

  /*function save() {
    console.log(myCodeMirror.getValue());
  }*/
  </script>
</body>
</html>