<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="{% static "css/bootstrap-responsive.min.css"%}" rel="stylesheet">
  <link href="{% static "css/style.css"%}" rel="stylesheet">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" type="text/css" rel="stylesheet">

  <link rel=stylesheet href="{% static "codemirror/doc/docs.css"%}">
  <script src="{% static "codemirror/lib/codemirror.js"%}"></script>
  <link rel="{% static "stylesheet" href="codemirror/lib/codemirror.css"%}">

  <script src="{% static "codemirror/addon/edit/matchbrackets.js"%}"></script>
  <script src="{% static "codemirror/mode/python/python.js"%}"></script>

  <script type="text/javascript" src="{% static "js/jquery.min.js"%}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js"%}"></script>
  <script type="text/javascript" src="{% static "js/scripts.js"%}"></script>
  <script type="text/javascript" src="{% static "js/submit_code.js"%}"></script>
  <script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>
  <title> {{title}} </title>

</head>

<body>
  <div class="navbar navbar-inverse nav">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">CodeDrill</a>
      <div class="nav-collapse collapse">
        <div class="pull-right">
          <ul class="nav pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{name}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/account-settings-student/">
                    <i class="glyphicon glyphicon-cog"></i> Account settings
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="/logout/"><i class="icon-off"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
 <div class="container-fluid">
  <div class="row-fluid">
   <div class="span2">
    <script>
    $(document).ready(function () {
      $('ul.menu-list').toggle();
      $('label.tree-toggler').click(function () {
       $(this).parent().children('ul.tree').toggle(200);
     });
    });
    </script>
      <ul class="nav nav-list">
        <li class="nav-header">
           Menu
        </li>
        <li class="active">
          <a href="/student-view/">Code</a>
          <ul class="nav nav-list">
            {% for chapter in assignments.get_chapters %}
              <li><label class="tree-toggler nav-header">{{chapter.get_name}}</label>
                <ul class="nav nav-list tree menu-list">
                  {% for assignment in chapter.get_assignments %}
                    <li><a href="/code-single-exercise/{{ assignment.get_id }}">{{ assignment.get_name }}</a></li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li>
         <a href="/student-grades/">Grades</a>
        </li>
        <li>
          <a href="/logout/">Log out</a>
        </li>
      </ul>
    </div>
    <div class="span9">
      <div class="panel panel-default">
        <div class="panel-body">                
          <form accept-charset="UTF-8" method="POST">
            {% csrf_token %}
            <p>{{ description }}</p>
            {{ code_form.non_field_errors }}
            {{ code_form.code.errors }}
            {{ code_form.code }}
            <br>
            <label style="display:block">
              <table><tr>
                <td><button class="btn btn-info" type="Submit" onclick="submit_code({{ ex_id }}); return false;">Submit</button></td>
                <td><div id="ok_{{ ex_id }}"><i class="glyphicon glyphicon-ok ok"></i></div></td>
                <td><div id="wrong_{{ ex_id }}"><i class="glyphicon glyphicon-remove wrong"></i></div></td>
              </tr></table>
            </label>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
  <script>
  $('#wrong_{{ ex_id }}').hide();
  $('#ok_{{ ex_id }}').hide();

  var myCodeMirror = CodeMirror.fromTextArea($('#id_code_{{ ex_id }}'), {
    mode: {name: "python",
           version: 2,
           singleLineStringErrors: false},
    lineNumbers: true,
    //indentUnit: 4,
    smartIndent: true,
    tabSize: 2,
    indentWithTabs: true,
    tabMode: "shift",
    autofocus: true,
    matchBrackets: true
  });

  /*function save() {
    console.log(myCodeMirror.getValue());
  }*/
  </script>
</body>
</html>