<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
   {{ header }}
</head>
<body>
  {{ navbar}}
  <div class="container-fluid">
    <div class="row-fluid">
        {{ menu }}
        <div class="span9">
          <div class="well">
            <table class="table">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Chapter
                  </th>
                  <th>
                    Problem name
                  </th>
                  <th>
                    Grade
                  </th>
                  <th style="width: 36px;">
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for row in grades %}
                  <tr>
                    {% for val in row %}
                      <td> {{ val }} </td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="pagination">
            <ul>
              <li><a href="#">Last term</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Next term</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>