<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet">
	<link href="static/css/bootstrap-glyphicons.css" rel="stylesheet">
	<script type="text/javascript" src="static/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/js/scripts.js"></script>

</head>
<body>
	<div class="navbar navbar-inverse nav">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">CodeDrill</a>

				<div class="nav-collapse collapse">
					<div class="pull-right">
						<ul class="nav pull-right">
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a 
										href="/teacher/account-settings/"
										>
										<i class="glyphicon glyphicon-cog"></i> Account settings
									</a>
								</li>

								<li>
									<a href="/class-settings/">
										<i class="glyphicon glyphicon-pencil"></i> Class settings
									</a>
								</li>

								<li class="divider"></li>
								<li><a href="/logout/"><i class="icon-off"></i> Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="row-fluid">
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">
						Menu
					</li>
					<li 
					class="active"

					>
					<a href="/teacher-view/">Overview</a>
				</li>
				<li 
				>
				<a href="/set-exercise/">Set exercise</a>
			</li>
			<li 
			>
			<a href="/view-spec/">View specifications</a>
		</li>
		<li>
			<a href="/logout/">Log out</a>
		</li>
	</ul>
</div>

<div class="span3 well" style=" padding: 8px 0;">
		<ul class="nav nav-list">
			<li>
				<label class="tree-toggler nav-header" onclick="showOverview()">Overview</label>
			</li>
			<li>
				<label class="tree-toggler nav-header" onclick="showYear(1)">Year 1</label>
				<ul class="nav nav-list tree">
					<li class="nav nav-list tree">
						<a href="#" onclick="showClass(1, 'A')">Class A</a>
						<ul class="nav nav-list tree">
							<li class="nav nav-list tree">
								<a href="#" onclick="showAssignment(1, 'A', 'ass1')">Assignment 1</a>
							</li>
						</ul>
					</li>
				</ul>
		</ul>
</div>

<div class="span6 well">
	<h4 id="title"></h4>
	<div id="content">
	</div>
</div> 
</div>
</div>
</div>
<script>

var tableHead = "<table class='table'><tbody>";
var tableFoot = "</tbody> </table>";

showOverview();

/*format for data
	[
		{title: string},
		{average: number}, <-- this does not appear in overview
		[{table: {
				column1 : column2,
				col1data : col2data,
				...
			}
		}]
	]
*/

/*
 * year_no is either 'overview' or an int.
 */
function getData(year_no, class_name, assignment_name) {
	var data;
	if (year_no == null) {
		data = [{"title":"Overview"}, {"table":{"Assignment":"Average grade", "Assignment 1":"75", "Assignment 2":"70"}}];
	} else if (class_name == null) {
		//use year_no to make ajax request and get the data below
		data = [{"title":"Performance for year 1"}, {"average": 77.5}, {"table":{"Assignment":"Average grade", "Assignment 1":80, "Assignment 2":75}}];
	} else if (assignment_name == null) {
		data = [{"title":"Performance in 1A"}, {"average": 77.5}, {"table":{"Assignment":"Average grade", "Assignment 1":80, "Assignment 2":75, "Assignment 3":65}}];
	} else {
		data = [{"title":"Assignment 1 performance for 1A"}, {"average": 77.5}, 
			{"table":{"Assignment 1":"Grade", "Student name 1":80, "Student name 2":75, "Student name 3":65}}];
	}
	return data;
}


function showOverview() {
	var data = getData();
	var title = data[0].title;
	var table = data[1].table;
	var content = tableHead;
	for (key in table) {
		content += "<tr> <td>" + key + "</td><td>" + table[key] + "</td></tr>";
	}
	content += tableFoot;

	$('#content').html(content);
	$('#title').html(title);
}

function showYear(year_no) {
	var data = getData(year_no);
	var title = data[0].title;
	var table = data[2].table;
	var content = "<p>" + data[1].average + "</p>" + tableHead;
	for (key in table) {
		content += "<tr> <td>" + key + "</td><td>" + table[key] + "</td></tr>";
	}
	content += tableFoot;

	$('#content').html(content);
	$('#title').html(title);
}

function showClass(year_no, class_name) {
	var data = getData(year_no, class_name);
	var title = data[0].title;
	var table = data[2].table;
	var content = "<p>" + data[1].average + "</p>" + tableHead;
	for (key in table) {
		content += "<tr> <td>" + key + "</td><td>" + table[key] + "</td></tr>";
	}
	content += tableFoot;

	$('#content').html(content);
	$('#title').html(title);
}

function showAssignment(year_no, class_name, assignment_name) {
	var data = getData(year_no, class_name, assignment_name);
	var title = data[0].title;
	var table = data[2].table;
	var content = "<p>" + data[1].average + "</p>" + tableHead;
	for (key in table) {
		content += "<tr> <td>" + key + "</td><td>" + table[key] + "</td></tr>";
	}
	content += tableFoot;

	$('#content').html(content);
	$('#title').html(title);
}

</script>
</body>
</html>