<div class="span2">
	<ul class="nav nav-list">
		<li class="nav-header">
			Menu
		</li>
		<li {% if page|stringformat:"s" == "overview"%}
				class="active"
		    {% endif %}
		>
			<a href="/teacher-view/">Overview</a>
		</li>
		<li {% if page|stringformat:"s" == "set_ex"%}
				class="active"
		    {% endif %}
		>
			<a href="/set-exercise/">Assign Exercise</a>
		</li>
		<li {% if page|stringformat:"s" == "view_spec"%}
				class="active"
		    {% endif %}
		>
			<a href="/view-spec/">View Specification</a>
		</li>
		</li>
		<li {% if page|stringformat:"s" == "add_ex"%}
				class="active"
		    {% endif %}
		>
			<a href="/teacher/add-new-exercise/">Create Exercise</a>
		</li>
		<li {% if page|stringformat:"s" == "view_sub"%}
				class="active"
		    {% endif %}
		>
			<a href="/teacher/view-submissions/">Submit Feedback</a>
		</li>
		<li>
	     	<a href="/logout/">Log Out</a>
	     </li>
	</ul>
</div>