<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	{{ header }}
	<script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>
</head>
<body>
	{{ navbar }}
	<div class="container-fluid">
		<div class="row-fluid">
			{{ menu }}
			<div id="well1" class="span3 well" style=" padding: 8px 0;">
				<ul class="nav nav-list">
					<li>
						<label class="tree-toggler nav-header" onclick="displayOverview()">Overview</label>
					</li>
					{% for year in teaching_hierarchy.get_teaching_years %}
					<li>
						<label class="tree-toggler nav-header" onclick="displayYear({{year.get_name}})">Year {{year.get_name}}</label>
						<ul class="nav nav-list tree">
							{% for class in year.get_teaching_classes %}
							<li class="nav nav-list tree">
								<label class="tree-toggler nav-header" onclick="displayClass({{year.get_name}}, '{{class.get_name}}')">{{ class.get_name }}</label>
								{% for assignment in class.get_assignments %}
								<ul class="nav nav-list tree">
									<li class="nav nav-list tree">
										<a href="#" onclick="displayAssignment({{year.get_name}},'{{class.get_id}}', '{{assingment.get_id}}')">{{ assignment.get_name }}</a>
									</li>
								</ul>
								{%endfor%}
							</li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div id="well2" class="span6 well">
				<h4 id="title"></h4>
				<div id="content">
				</div>
			</div>
		</div>
		<img id="loader" src="{% static "img/loader.gif"%}" style="position:absolute; left: 50%; bottom: 50%" />
	</div>
	<script>
	var tableHead = "<table class='table'><tbody>";
	var tableFoot = "</tbody> </table>";
	var year = -1;
	var class_name = "";
	var assignment_name = "";

	displayOverview();
	hidePanels();

/*format for data
	[
		{title: string},
		{average: number}, <-- this does not appear in overview
		[{table: {
				column1 : column2,
				col1data : col2data,
				...
	"Assignment 1":"75", "Assignment 2":"70"		}
		}]
	]
	*/

/*
 * year_no is either 'overview' or an int.
 */
 function getData(year_no, class_name, assignment_name) {
 	var data;
 	if (year_no == null) {
 		var table = getDataFromServer("get-overview/", {});
 		alert(table);
		// table.unshift({"Assignment":"Average grade"});
		return ["Overview", table];
	} else if (class_name == null) {
		//use year_no to make ajax request and get the data below
		data = [{"title":"Performance for year 1"}, {"average": 77.5}, {"table":{"Assignment":"Average grade", "Assignment 1":80, "Assignment 2":75}}];
	} else if (assignment_name == null) {
		data = [{"title":"Performance in 1A"}, {"average": 77.5}, {"table":{"Assignment":"Average grade", "Assignment 1":80, "Assignment 2":75, "Assignment 3":65}}];
	} else {
		data = [{"title":"Assignment 1 performance for 1A"}, {"average": 77.5}, 
		{"table":{"Assignment 1":"Grade", "Student name 1":80, "Student name 2":75, "Student name 3":65}}];
	}
	return data;
}

function displayOverview()
{
	getDataFromServer("get-overview/", {}, showOverview);
}

function displayYear(year_no)
{
	year = year_no;
	getDataFromServer("get-year-overview/", {"year":year_no}, showYear);
}

function displayClass(year_no, cls)
{
	year = year_no;
	class_name = cls;
	getDataFromServer("get-class-overview/", {"year":year, "cls":cls}, showClass)
}

function displayAssignment(year_no, cls, as_name)
{
	year = year_no;
	class_name = cls;
	assignment_name = as_name;
	getDataFromServer("get-assignment-overview/", {"cls":cls, "as_name":as_name}, showAssignment);
}

function getDataFromServer(url, data, callback)
{
	var result = []
	$.ajax({
		type: 'GET',
		url: '/teacher/'+url,
		data: data,
		beforeSend: function(xhr, settings) 
		{
			xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
			$("#loader").show();
			hidePanels();
		},
		success: function(response) 
		{
			result = JSON.parse(response);
			$("#loader").hide();
			showPanels();
			callback(result);
		}
	});
}

function showOverview(table) 
{
	var title = "Overview";
	var content = tableHead;
	content += "<tr> <td><b>Assignment</b></td><td><b>Average Grade</b></td></tr>";
	for (i in table) 
	{
		content += "<tr> <td>" + table[i].as_name + "</td><td>" + table[i].grade + "</td></tr>";
	}
	content += tableFoot;

	$('#content').html(content);
	$('#title').html(title);
}

function showYear(table) 
{
	var title = "Performance for Year " + year;
	var content = "<p>" + ""  + "</p>" + tableHead;
	content += "<tr> <td><b>Assignment</b></td><td><b>Average Grade</b></td></tr>";

	for (key in table) 
	{
		content += "<tr> <td>" + table[key].as_name + "</td><td>" + table[key].grade + "</td></tr>";
	}
	content += tableFoot;

	$('#content').html(content);
	$('#title').html(title);
}

function showClass(table) 
{
	var title = "Performance of " + class_name + " in Year " + year;
	var content = "<p></p>" + tableHead;
	content += "<tr> <td> <b>Assignment</b> </td><td><b>Average Grade</b></td></tr>";
	for (key in table) 
	{
		content += "<tr> <td>" + table[key].as_name + "</td><td>" + table[key].grade + "</td></tr>";
	}
	content += tableFoot;

	$('#content').html(content);
	$('#title').html(title);
}

function showAssignment(table) 
{
	var title = assignment_name + " Performance for Class " + class_name + " of Year " + year;
	var content = "<p></p>" + tableHead;
	content += "<tr> <td><b>Student</b></td><td><b>Grade</b></td></tr>";
	for (key in table) {
		content += "<tr> <td>" + table[key].student + "</td><td>" + table[key].grade + "</td></tr>";
	}
	content += tableFoot;

	$('#content').html(content);
	$('#title').html(title);
}

function hidePanels() {
	$("#well1").hide();
	$("#well2").hide();
}

function showPanels() {
	$("#well1").show();
	$("#well2").show();
}

</script>
</body>
</html>
