<!DOCTYPE html>
{% load staticfiles %}
{% load selectable_tags %}
<html lang="en">
<head>
  {{ header }}
    {% include_ui_theme %}
  {% include_jquery_libs %}
   <script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>
</head>
 <body>
  {{ navbar }}
  	<div class="container-fluid row-fluid">
	    {{ menu }}
            <div class="span10">
            	<legend>Submit feedback</legend>
		<script>
		$(document).ready(function () {
		$('label.tree-toggler').click(function(event) {
			$(this).parent().children('ul.tree').toggle(300);
			event.stopPropagation();
		});
		
		//$('#sub-info').hide();
		});
		</script>
		<div class="container-fluid">
				<ul class="nav nav-tabs">
					<li class="active dropdown" style="width:70%;">
						<a id="asgn-menu" href="#" data-toggle="dropdown" class="dropdown-toggle">Choose an assignment bla bla bla... <b class="caret" style="float:right;"></b></a>
						<ul class="dropdown-menu">
							{% for year in teaching_hierarchy.get_teaching_years %}
								<li>
									<label class="tree-toggler nav-header">Year {{ year.name }}</label>
									<ul class="nav nav-list tree">
									{% for cls in year.get_teaching_classes %}
										<li>
											<label class="tree-toggler nav-header">{{cls.get_name}}</label>
											<ul class="nav nav-list tree">
											{% for assignment in cls.get_assignments %}
												<li class="nav nav-list tree">
													<a onclick="getStudentsOnCourse({{cls.get_id}}, 'Year {{year.name}} - {{cls.get_name}} - {{assignment.get_name}}')">
														{{ assignment.get_name }}
													</a>
												</li>
											{% endfor%}
											</ul>
										</li>
									{% endfor %}
									</ul>
								</li>
							{% endfor %}
						</ul>
					</li>			
				</ul>
		</div>
	        <div class="container-fluid row-fluid">
			<div id="sub-info" class="span3 well">
				<label class="nav-header">There is no course selected yet.</label>
			</div>
			<div id="feedback area" class="span7 well">
				<label class="nav-header"> Area under construction. </label>
			</div>
		</div>
            </div>
	</div>
<script>



function getDataFromServer(url, data, callback)
{
	var result = []
	$.ajax({
		type: 'GET',
		url: '/teacher/'+url,
		data: data,
		beforeSend: function(xhr, settings) 
		{
			xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
		},
		success: function(response) 
		{
			result = JSON.parse(response);
			callback(result);
		}
	});
}

function getStudentsOnCourse(class_id, displayTitle)
{
	$('#asgn-menu').html(displayTitle);
	getDataFromServer("get-students-in-class/",{'course_id' : class_id}, showStudentsOnCourse);
}

function showStudentsOnCourse(table)
{
	var listHeader = "<ul class=\"nav nav-list\"><li><label class=\"tree-toggler nav-header\">Submissions</label><ul class=\"nav nav-list tree\">";
        var listFooter = "</ul></li></ul>";
	var content = listHeader;
	var title = "Submissions"
	for (i in table) 
	{
		content += "<li><a id=\"" + table[i].user_id + "\">" + table[i].full_name + "</a></li>";
	}
	content += listFooter;

	$('#sub-info').html(content);
	//$('#sub-info-heading').html(title);
	$('#sub-info').fadeIn(300);
}

</script>
</body>
</html>
