<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<link href="{% static "google-code-prettify/prettify.css"%}" rel="stylesheet">
    <script type="text/javascript" src="{% static "google-code-prettify/prettify.js"%}"></script>
    {{header}}

</head>

<body>
	{{ navbar }}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					{{menu}}
						<div class="span10">
							<legend>View specifications</legend>
							<div class ="span2">
								<label>Sample exercises</label>
								<div style="">
									{% for chapter in assignment_book.get_chapters %}
										<ul class="nav nav-list">
											<li><label class="tree-toggler nav-header" id="var"> {{ chapter.get_name }}</label>
												<ul class="nav nav-list tree">
													{% for assignment in chapter.get_assignments %}
														<li><a href="#" id="var-add"> {{ assignment.get_name }}</a></li>
													{% endfor %}
												</ul>
											</li>
										</ul>
									{% endfor %}
								</div>
							</div>
							<div class ="span7">
								<div id="var-add-ex">
									<i>Question</i>
									<br>
									Create a function to add two numbers together.
									<br><br>
									<i>Solution</i>
									<br>
									<?prettify ?>
										<pre class="prettyprint linenums lang-py">
											BOARD_SIZE = 8

											def under_attack(col, queens):
											    left = right = col

											    for r, c in reversed(queens):
											        left, right = left - 1, right + 1

											        if c in (left, col, right):
											            return True
											    return False

											def solve(n):
											    if n == 0:
											        return [[]]

											    smaller_solutions = solve(n - 1)

											    return [solution+[(n,i+1)]
											        for i in xrange(BOARD_SIZE)
											            for solution in smaller_solutions
											                if not under_attack(i+1, solution)]
											                
											for answer in solve(BOARD_SIZE):
											    print answer
										</pre>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	//syntax highlighting
	!function ($) {
		$(function(){
			prettyPrint()   
		})
	}(window.jQuery)

	$('#var-add-ex').hide();
	$('#var-add').click(function () {
		$('#var-add-ex').fadeIn();
	});
	</script>
</body>
</html>