<!DOCTYPE html>
{% load staticfiles %}
{% load selectable_tags %}
<html lang="en">
<head>
  {{ header }}
    {% include_ui_theme %}
  {% include_jquery_libs %}
   <script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>
   <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

</head>
 <body>
  {{ navbar }}
  	<div class="container-fluid row-fluid">
	    {{ menu }}
            <div class="span10">
            	<legend>Submit feedback</legend>
		<script>
		$(document).ready(function () {
		$('label.tree-toggler').click(function(event) {
			$(this).parent().children('ul.tree').toggle(300);
			event.stopPropagation();
		});
		
		//$('#sub-info').hide();
		});
		</script>
		<div class="container-fluid">
				<ul class="nav nav-tabs">
					<li class="active dropdown" style="width:70%;">
						<a id="asgn-menu" href="#" data-toggle="dropdown" class="dropdown-toggle">Choose an assignment bla bla bla... <b class="caret pull-right"></b></a>
						<ul class="dropdown-menu">
							{% for year in teaching_hierarchy.get_teaching_years %}
								<li>
									<label class="tree-toggler nav-header">Year {{ year.name }}</label>
									<ul class="nav nav-list tree">
									{% for cls in year.get_teaching_classes %}
										<li>
											<label class="tree-toggler nav-header">{{cls.get_name}}</label>
											<ul class="nav nav-list tree">
											{% for assignment in cls.get_assignments %}
												<li class="nav nav-list tree">
													<a onclick="getAssignmentInfo({{cls.get_id}}, {{assignment.get_id}}, 'Year {{year.name}} - {{cls.get_name}} - {{assignment.get_name}}')">
														{{ assignment.get_name }}
													</a>
												</li>
											{% endfor%}
											</ul>
										</li>
									{% endfor %}
									</ul>
								</li>
							{% endfor %}
						</ul>
					</li>			
				</ul>
		</div>
	        <div class="container-fluid row-fluid">
			<div id="sub-info" class="span3 well">
				<label class="nav-header">There is no course selected yet.</label>
			</div>
			<div id="specification-window" class="span7">
				<i id="question">Question:</i>
				<div id="question-text"></div> 
				<pre id="specification-window-text">Dude I swear, my dog ate the effing screen!
				</pre>
			</div>
		</div>
            </div>
	</div>
<script>

var curr_assignment

function getDataFromServer(url, data, callback)
{
	var result = []
	$.ajax({
		type: 'GET',
		url: '/teacher/'+url,
		data: data,
		beforeSend: function(xhr, settings) 
		{
			xhr.setRequestHeader("X-CSRFToken", getCsrfToken());
		},
		success: function(response) 
		{
			result = JSON.parse(response);
			callback(result);
		}
	});
}

function getAssignmentInfo(class_id, assignment_id, displayTitle)
{
	$('#asgn-menu').html(displayTitle);
        curr_assignment = assignment_id;
	getDataFromServer("get-students-in-class/",{'course_id' : class_id}, showStudentsOnCourse);
}

function showStudentsOnCourse(table)
{
	var listHeader = "<ul class=\"nav nav-list\"><li><label class=\"tree-toggler nav-header\">Submissions</label><ul class=\"nav nav-list tree\">"
        var listFooter = "</ul></li></ul>"
	var content = listHeader
	var title = "Submissions"
	for (i in table) 
	{
		content += "<li><a id=\"stu" + table[i].user_id + "\">" + table[i].full_name + "</a></li>";
	}
	content += listFooter;

	// now make it all visible
	$('#sub-info').html(content);
	$('#specification-window-text').html("Please select a student to view his (eventual) submission.");
	setStudentLinks(curr_assignment, table);
	//$('#sub-info-heading').html(title);
	$('#sub-info').fadeIn(300);
}

function showSubmissionContent(submission)
{
	$('#specification-window-text').html(submission.code != null ? submission.code :
		"No submission for this assignment has been registered on behalf of the student.");
}

function setStudentLinks(assignment_id, stu_table)
{
	var stu
	var asgn = assignment_id.toString()
	for(i in stu_table)
	{
		stu = stu_table[i].user_id;
		$('#stu'+stu).on('click', function() {
			getDataFromServer('get-student-submission',{'student_id':stu, 'assign_id':asgn}, showSubmissionContent);
		});
	}
}

</script>
</body>
</html>
