<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<script type="text/javascript" src="{% static "js/get_csrf_token.js"%}"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    {{header}}
    {{editor.media}}

</head>

<body>
	{{ navbar }}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					{{menu}}
						<div class="span10">
							<legend>View specifications</legend>
							<div class ="span2">
								<label>Sample exercises</label>
								<div style="">
									{% for chapter in assignment_book.get_chapters %}
										<ul class="nav nav-list">
											<li><label class="tree-toggler nav-header" id="var"> {{ chapter.get_name }}</label>
												<ul class="nav nav-list tree">
													{% for assignment in chapter.get_assignments %}
														<li><a onclick="get_exercise_details({{ assignment.get_id }} )" id="var-add"> {{ assignment.get_name }}</a></li>
													{% endfor %}
												</ul>
											</li>
										</ul>
									{% endfor %}
								</div>
							</div>
							<div class ="span7">
								<div id="var-add-ex">
									<i>Question</i>
									<br>
									<div id="description"></div>
									<br>
									<pre id="id_code" class="prettyprint lang-python"> </pre>
									<div class="controls">
				                    	<button class="btn btn-success" onclick="save_exercise" value="Save">Save</button>
				                    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<script>

	$('#var-add-ex').hide();
	$('#var-add').click(function () {
		$('#var-add-ex').fadeIn();
	});
	$("#id_code").readonly = true;

	function get_exercise_details(ex_id) 
	{
	  var csrftoken = getCsrfToken();
	  $.ajax({
	        type: 'POST',
	        url: "/teacher/get-exercise/",
	        data: {
	                'ex_id': ex_id
	              },
	        beforeSend: function(xhr, settings) 
	              {
	                xhr.setRequestHeader("X-CSRFToken", csrftoken);
	              },
	        success: function(response) 
	              {
	              	var result = response.split("$%$");

	              	if (result.length == 1)
	              	{
		            	alert("Something went wrong. Please come back later");
		            }
		            else
		            {
		                $("#id_code").text(result[0]);
		                $("#description").text(result[1]);
		            }
	              }
	    });
	  return false;
	}
	</script>
</body>
</html>
