<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet">
	<link href="{% static "css/bootstrap-responsive.min.css"%}" rel="stylesheet">
	<link href="{% static "css/style.css"%}" rel="stylesheet">
	<link href="{% static "google-code-prettify/prettify.css"%}" rel="stylesheet">

	<script type="text/javascript" src="{% static "js/jquery.min.js"%}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js"%}"></script>
	<script type="text/javascript" src="{% static "js/scripts.js"%}"></script>
    <script type="text/javascript" src="{% static "google-code-prettify/prettify.js"%}"></script>

</head>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<h3>
					A Framework for Setting and Assessing Programming Exercises
				</h3>
				<div class="row-fluid">
					<div class="span2">
						<ul class="nav nav-list">
							<li class="nav-header">
								Menu
							</li>
							<li>
								<a href="/teacher-view/">Overview</a>
							</li>
							<li>
								<a href="/set-exercise/">Set exercise</a>
							</li>
							<li class="active">
								<a href="#">View specifications</a>
							</li>
							<li>
								<a href="/logout/">Log out</a>
							</li>
							</ul>
						</div>
						<div class="span10">
							<legend>View specifications</legend>
							<div class ="span2">
								<label>Sample exercises</label>
								<div style="">
									<ul class="nav nav-list">
										<li><label class="tree-toggler nav-header" id="var">Variable assignment</label>
											<ul class="nav nav-list tree">
												<li><a href="#" id="var-add">Addition</a></li>
												<li><a href="#" id="var-sub">Subtraction</a></li>
											</ul>
										</li>
									</ul>
									<ul class="nav nav-list">
										<li><label class="tree-toggler nav-header" id="cond">Conditionals</label>
											<ul class="nav nav-list tree">
												<li><a href="#" id="cond-i">If</a></li>
												<li><a href="#" id="cond-iei">If-else-if</a></li>
											</ul>
										</li>
									</ul>
									<ul class="nav nav-list">
										<li><label class="tree-toggler nav-header" id="for">For loop</label>
											<ul class="nav nav-list tree">
												<li><a href="#" id="for-print">Print 10 numbers</a></li>
												<li><a href="#" id="for-sum">Sum</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<div class ="span7">
								<div id="var-add-ex">
									<i>Question</i>
									<br>
									Create a function to add two numbers together.
									<br><br>
									<i>Solution</i>
									<br>
									<?prettify ?>
<pre class="prettyprint linenums lang-py">
BOARD_SIZE = 8

def under_attack(col, queens):
    left = right = col

    for r, c in reversed(queens):
        left, right = left - 1, right + 1

        if c in (left, col, right):
            return True
    return False

def solve(n):
    if n == 0:
        return [[]]

    smaller_solutions = solve(n - 1)

    return [solution+[(n,i+1)]
        for i in xrange(BOARD_SIZE)
            for solution in smaller_solutions
                if not under_attack(i+1, solution)]
for answer in solve(BOARD_SIZE):
    print answer</pre>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	//syntax highlighting
	!function ($) {
		$(function(){
			prettyPrint()   
		})
	}(window.jQuery)

	$('#var-add-ex').hide();
	$('#var-add').click(function () {
		$('#var-add-ex').fadeIn();
	});
	</script>
</body>
</html>