%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title CodeDrill
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %body
    #header
      %h1 Heading 1
      %h2 Heading 2
    #content
        .entry
          %h3 HEAding 3
          %p.body This is only for testing. This is the body.
    #footer
      %p
        All content copyright © Varun
